[submodule "ui-customizations"]
	path = ui-customizations
	url = https://github.com/HMKnapp/qenta-docs-ui-customizations
[submodule "content"]
	path = content
	url = https://github.com/HMKnapp/qenta-docs-content
