[submodule "ui-customizations"]
	path = ui-customizations
	url = https://github.com/qenta-cee/qenta-docs-ui-customizations.git
[submodule "content"]
	path = content
	url = https://github.com/qenta-cee/qenta-docs-content.git
